{{define "title"}}创建博客{{end}}

{{define "main"}}
<form action="/blog/store" method="POST">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
    <div>
        <label>标题：</label>
        {{with .Form.FieldErrors.title}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input type="text" name="title" value="{{.Form.Title}}" />
    </div>

    <div>
        <label>内容：</label>
        {{with .Form.FieldErrors.content}}
        <label class='error'>{{.}}</label>
        {{end}}
        <textarea name="content">{{.Form.Content}}</textarea>
    </div>

    <div>
        <input type='submit' value='发布'>
    </div>
</form>
{{end}}